# Operating System files
.DS_Store
Thumbs.db

# Node.js dependencies
node_modules
dist

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Java
*.class
*.jar
*.war
*.ear

# Log files
*.log

# Environment variables
.env

# Build directories
dist/
build/

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace